    
    <% layout('layouts/boiler')%>

    <!-- A container contains some topics -->
    <div class="row my-5">
        <!-- 1st Topic -->
        <!-- Image -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/140x140/?nature,water" target="blank" alt="">
            <!-- Heading -->
            <h2>Starting Smash Code</h2>
            <!-- Paragraph -->
            <p>We believe that every student is talented and have potential to learn new things which he find insightful.
                But all can't get the opportunities may be because of economical reasons or any other reason.
                So we are here with the best online courses designed by experts in multiple languages.
                We aim to bring best from every scholars  . 
                


            </p>
            <!-- A button for reading in details -->
            <p><a class="btn btn-secondary" href="https://www.lineups.com/esports/super-smash-bros-101-beginners-guide/">View details »</a></p>
        </div><!-- /.col-lg-4 -->

        <!-- 2nd Topic -->
        <div class="col-lg-4">
            <!-- Image -->
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/140x140/?machine" alt="">
            <!-- Heading -->
            <h2>Description</h2>
            <!-- Paragraph -->
            <p>Software is a set of instructions, data or programs used to operate computers and execute specific tasks. 
                It is the opposite of hardware, which describes the physical aspects of a computer. Software is a generic term 
                used to refer to applications, scripts and programs that run on a device.
                 It can be thought of as the variable part of a computer, while hardware is the invariable part.</p>
            <!-- Button for reading in details -->
            <p><a class="btn btn-secondary"
                    href="https://www.loc.gov/standards/sourcelist/descriptive-conventions.html"
                    target="blank">View details »</a></p>
        </div><!-- /.col-lg-4 -->

        <!-- 3rd Topic -->
        <div class="col-lg-4">
            <!-- Image -->
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="https://source.unsplash.com/140x140/?ipad" alt="">
            <!-- Heading -->
            <h2>Source</h2>
            <!-- Paragraph -->
            <p>Source code is the list of human-readable instructions that a programmer writes—often in a word processing program—when
                 he is developing a program. The source code is run through a compiler to turn it into machine code, also called object 
                 code, that a computer can understand and execute.
                 Object code consists primarily of 1s and 0s, so it isn't human-readable. 
            <p>
                <!-- Button for reading the paragraph in details -->
            <p><a class="btn btn-secondary" href="https://codesource.in/"
                    target="blank">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
    <!-- End of container -->


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose
                here.</p>
        </div>
        <div class="col-md-5">
           
            <img src="./images/about.jpg" width="500" height="500" alt="">

        </div>
    </div>

    